footer {
  background-color: var(--hightlight-light-color);
}

.footer {
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
}

.info {
  flex-grow: 1;
}

.footer figure {
  display: none;
  max-width: 200px;
}

.footer ul h4 {
  color: var(--primary-zatone-color);
  margin-bottom: 0.7rem;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer ul a {
  color: var(--hightlight-dark-color);
  transition: color var(--transition);
}

.footer ul a:hover {
  color: var(--primary-yellow-color);
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer figure {
    display: block;
  }
}
