.testimonials {
  background-color: var(--hightlight-light-color);
  padding: 8rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.testimonial {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 7.5px -1.5px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: scale var(--transition);
  transform-origin: left bottom;
  cursor: pointer;
}

.testimonial:hover {
  scale: 1.1;
}

.testimonial figure img {
  filter: blur(0);
  transition: filter var(--transition);
}

.testimonial:hover figure img {
  filter: blur(5px);
}

.testimonial__user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial__user-info figure {
  max-width: 100px;
  overflow: hidden;
}

.testimonial__rating,
.testimonial__user-info {
  font-weight: bold;
}

.testimonial__user-info span {
  color: var(--primary-zatone-color);
}

.testimonial__rating {
  color: var(--primary-yellow-color);
}

.testimonial__review {
  font-family: "Markazi Text", serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--primary-zatone-color);
  text-align: center;
}

.testimonial__review::before,
.testimonial__review::after {
  content: '"';
}
